<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head', {pageTitle: pageTitle}); %>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include('../../partials/sidebar', {siteName: siteName}); %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include('../../partials/header', {siteName: siteName, userFullName: userFullName, userImage: userImage}); %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                      <!-- Page Heading -->
                      <h1 class="h3 mb-2 text-gray-800"><%-pageName%></h1>
                      <p class="mb-4">Create <%-pageName%></p>
  
                      <!-- DataTales Example -->
                      <div class="card shadow mb-4">
                          <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary"><%-pageName%> Details</h6>
                          </div>
                          <div class="card-body">
                            <form class="user" action="/create-sub-filter" method="post">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <select class="form-control" name="body_focus" id="body_focus" required>
                                            <option value="0" selected>Select Body Focus</option>
                                            <% if(respdata.category){ %>
                                                <% respdata.category.forEach(function(value, index) { %> 
                                                    <option value="<%= value._id %>"><%= value.name %></option>
                                                <% });  %>
                                            <% } %> 
                                        </select>
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="sub_filter" name="sub_filter"
                                            placeholder="Sub Filter..." value="" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <textarea type="text" class="form-control form-control-user" id="description" name="description" placeholder="Description" required></textarea>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-primary btn-user btn-block" id="btn_sub_filter" name="btn_sub_filter" value="Submit">
                            </form>
                            <hr>
                            <% if(!status){ %>
                                <h6 style="background-color:aquamarine; align-content: center;">Message: <%= message %></h6>
                                <p><%# respdata %></p>
                            <% } %>
                          </div>
                      </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include('../../partials/footer', {year: year, siteName: siteName}); %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    
    <%- include('../../partials/logoutModal'); %>

    <%- include('../../partials/footerJs'); %>
    <script>
        $(document).ready(function() {
            alert('Hi');
            //$('#body_focus').select2();
        });
    </script>

</body>

</html>

